.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:inset;
	background-color:darkolivegreen;
}


#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: 	Arial Bold;
}

